<template>
<div>
    <header-layout></header-layout>
    <!-- <div class="menu-href-home">
        <b-breadcrumb :items="items" />
    </div> -->
    <div class="body" id="body-layout">

        <div class="row ">
            <div class="col-md-3 sidebar-home" style="margin-left:10px">
                <h4>Recent News</h4>
                <hr>
                <sidebar-layout></sidebar-layout>
            </div>
            <div class="col-md-8">
                <router-view />
            </div>
             <div class="col-md-1">

            </div>
        </div>
    </div>
</div>
</template>

<script>
import HeaderLayout from '@/views/users/HeaderLayout.vue'
import SidebarLayout from '@/views/users/SidebarLayout.vue'
export default {
  name: 'user',
  components: {
    HeaderLayout,
    SidebarLayout
  },
  data () {
    return {
      items: [
        {
          text: 'Admin',
          href: '/blog-home'
        },
        {
          text: 'Manage',
          href: '#'
        },
        {
          text: 'Library',
          active: true
        }
      ]
    };
  }
};
</script>

<style scoped>
#body-layout {
  margin-top: 80px;
}

.tile-home {
  color: white;
}
.menu-href-home {
  margin-top: 60px;
  position: fixed;
}
.sidebar-home {
}
</style>
