<template>
<b-navbar toggleable="md" type="dark" variant="info" fixed="top ">

    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand>
        <router-link :to="{ name: 'blog-home'}">
            <h3 class="tile-home">Home</h3>
        </router-link>
    </b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
            <b-nav-item-dropdown text="Categories" right>
                <b-dropdown-item v-for="(item, key) in items" :key="key">
                    <router-link :to="{ name: 'blog-list', params:{url: item.name }}">
                        <h6>{{item.description}}</h6>
                    </router-link>
                </b-dropdown-item>
            </b-nav-item-dropdown>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
                <!-- Using button-content slot -->
                <template slot="button-content">
                    <em>User</em>
                </template>
                <b-dropdown-item href="/login">login</b-dropdown-item>
                <b-dropdown-item href="/register">register</b-dropdown-item>
            </b-nav-item-dropdown>
        </b-navbar-nav>

    </b-collapse>
</b-navbar>
</template>

<script>
import serviceCategories from '@/service/admin/CategoriesService.js'
export default {
  computed: {
    items () {
      return this.$store.state.categories_data
    }
  },
  created () {
    serviceCategories.getData().then(res => {
      this.$store.commit('setCategoriesList', res.item)
    })
  }
}
</script>

<style scoped>
.tile-home {
  color: white;
}
</style>
