<template>
<div>
  <div v-if="items.length ==0"><h1> No content </h1></div>
   <div v-else >
     <div v-html="items[0].content" class="text-left"></div>
   </div>
</div>
</template>

<script>
import service from '@/service/admin/PostService.js'

export default {
  computed: {
    items () {
      return this.$store.state.item_data_add
    }
  },
  created () {
    var id = this.$route.params.url + ''
    service.getDetail(id).then(res => {
      this.$store.commit('getData', res.item)
    })
  },
  beforeRouteUpdate (to, from, next) {
    debugger
    var id = to.params.url + ''
    console.log(id)
    service
      .getDetail(id)
      .then(res => {
        this.$store.commit('getData', res.item)
        next()
      })
      .catch(err => {
        next()
      })
  }
}
</script>
