<template>
    <div>
        <div class="text-left">
                <div>
                    <form class="form-signin" @submit.prevent="validateBeforeSubmitEdit()">

                        <h4 class="header-anchor">Slug</h4>
                        <input class="form-control mb-2" name="Slug" v-model="Slug" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Slug') }" type="text" placeholder="ex: news-technology">
                        <span v-show="errors.has('Slug')" class="form-text text-danger mb-2">{{ errors.first('Slug') }}</span>

                        <h4>Short Description</h4>
                        <textarea class="form-control mb-2" rows="3"  name="ShortDescription" v-model="ShortDescription"  v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('ShortDescription') }"  placeholder="ShortDescription"></textarea>
                        <span v-show="errors.has('ShortDescription')" class="form-text text-danger mb-2">{{ errors.first('ShortDescription') }}</span>

                        <h4>Categories</h4>
                        <select name="Categories"  class="form-control" v-model="CategoriesId" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Categories') }">
                          <option :key="index" v-for="(item,index) in selectItemData" :value="item.value" :is-selected.sync=CategoriesId >{{item.text}} </option>
                        </select>
                        <span v-show="errors.has('CategoriesId')" class="form-text text-danger mb-2">{{ errors.first('CategoriesId') }}</span>

                        <div>
                            <vs-row>
                                <vs-col vs-justify="center" vs-align="center" vs-w="6" id="uploadEdit">
                                    <h4>New Thumbnail Image</h4>
                                    <vs-upload id="imas" limit="1" name="ThumbnailImage" automatic action="" @on-success="successUpload()" />
                                </vs-col>
                                <vs-col vs-justify="center" vs-align="center" vs-w="6">
                                    <h4>Old Thumbnail Image</h4>
                                    <div style="width:auto height:250px " class="card">
                                        <img :src="olbThumbnailImage"  style="height:250px; border-style: dotted" />
                                 </div>
                                </vs-col>
                            </vs-row>
                        </div>
                        <h4>Content</h4>
                        <froala :tag="'textarea'" id="fradd" name="Content" :config="config" v-model="Content" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Content') }"></froala>
                        <span v-show="errors.has('Content')" class="form-text text-danger mb-2">{{ errors.first('Content') }}</span>
                        <vs-button class="btn btn-md btn-primary btn-block mb-1" type="submit">Save</vs-button>
                    </form>
                </div>
        </div>
    </div>
</template>

<script>
import service from '@/service/admin/PostService.js'
import serviceCategories from '@/service/admin/CategoriesService.js'
export default {
  mounted () {
    let item = localStorage.getItem('post-detail')
    this.postDetail = JSON.parse(item)
    this.ThumbnailImage = this.postDetail.thumbnailImage
    this.Slug = this.postDetail.slug
    this.Content = this.postDetail.content
    this.olbThumbnailImage = this.postDetail.thumbnailImage
    this.Description = this.postDetail.description
    this.ShortDescription = this.postDetail.shortDescription
    this.CategoriesId = this.postDetail.categoriesId
  },
  computed: {
    selectItemData () {
      return this.$store.state.select_item_data
    }
  },
  data () {
    return {
      postDetail: {},
      select2: 1,
      config: {
        imageUploadURL: 'https://localhost:44383/api/UploadFile/Upload/',
        imageUploadParams: {
          location: 'content-page-images'
        },
        events: {
          'froalaEditor.initialized': function () {}
        },
        height: 300
      },
      CategoriesId: '',
      Content: '',
      _id: '',
      Name: '',
      Description: '',
      ThumbnailImage: '',
      olbThumbnailImage: '',
      ShortDescription: '',
      Slug: ''
    }
  },
  created () {
    var item = JSON.parse(localStorage.getItem('edit_post'))
    console.log(item)
    this.Slug = item.slug
    this.ShortDescription = item.shortDescription
    this.ThumbnailImage = item.thumbnailImage
    this.olbThumbnailImage = item.thumbnailImage
    this.Content = item.content
    this.Id = item.id
    this.isEditPopup = true
    this.CategoriesId = item.categoriesId
    serviceCategories
      .getData()
      .then(res => {
        var message = res.message
        this.$vs.loading.close()
        if (res.isError) {
          this.isAddPopup = false
          this.$vs.notify({
            title: 'error',
            text: message,
            color: 'green',
            position: 'top-center'
          })
        } else {
          var items = res.item.map(data => {
            return {
              value: data.id,
              text: data.name
            }
          })
          this.$store.commit('setSelectItem', items)
        }
      })
      .catch(err => {
        this.$vs.loading.close()
      })
  },
  methods: {
    // start edit popup
    validateBeforeSubmitEdit () {
      this.ThumbnailImage = $('#uploadEdit')
        .find('img')
        .last()
        .attr('src')
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$vs.loading({
            color: '#7d0c3f'
          })
          var obj = {
            Id: this.Id,
            ShortDescription: this.ShortDescription,
            Slug: this.Slug,
            ThumbnailImage:
              this.ThumbnailImage == '' || this.ThumbnailImage == undefined
                ? this.olbThumbnailImage
                : this.ThumbnailImage,
            Content: this.Content,
            CategoriesId: this.CategoriesId
          }
          service
            .edit(obj)
            .then(res => {
              this.$vs.loading.close()
              this.isEditPopup = false
              this.$vs.notify({
                title: 'Edit Item',
                text: res.message,
                color: 'green',
                position: 'top-center'
              })
            })
            .catch(err => {
              this.$vs.loading.close()
              this.$vs.notify({
                title: 'Edit Item',
                text: err.message,
                color: 'red',
                position: 'top-center'
              })
            })
        }
      })
    }
  } // end edit popup
}
</script>
