<template>
<div class="row align-item-center h-100">

    <div class="container pt-3 ">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10 col-md-6 ">
                <div class="card border-info">
                    <div class="card-header">Login to continue</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="https://placeimg.com/128/128/tech/sepia">
                                <h4 class="text-center">Blog</h4>
                            </div>
                            <div class="col-md-8">
                                <form class="form-signin" @submit.prevent="validateBeforeSubmit">
                                    <input class="form-control mb-2" id="exampleInputEmail1" name="Email" v-model="Email" v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('Email') }" type="text" placeholder="Email">
                                    <span v-show="errors.has('Email')" class="form-text text-danger text-left mb-2">{{ errors.first('Email') }}</span>
                                    <input class="form-control mb-2"  name="Password" v-model="Password" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Password') }" type="password" placeholder="password">
                                    <span v-show="errors.has('Password')" class="form-text text-danger text-left mb-2">{{ errors.first('Password') }}</span>
                                    <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Login</button>
                                    <label class="checkbox float-left">
                                    <input type="checkbox" value="remember-me">
                                    Remember me
                                    </label>
                                    <a href="" class="float-right">Create an account </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</template>

<script>
import service from '@/service/LoginService.js'
export default {
  name: 'login',
  components: {},
  data: () => ({
    Email: '',
    Password: ''
  }),
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then(result => {
        if (result) {
          service
            .login({
              Email: this.Email,
              Password: this.Password
            })
            .then(result => {
              this.$vs.loading.close()
              if (!result.isError) {
                localStorage.setItem('jwt_token', result.token)
                localStorage.setItem(
                  'jwt_role',
                  result.role.item[0].normalizedName
                )
                this.$router.push({
                  path: '/admin/categories'
                })
                this.setLayout('admin')
              } else {
                this.$vs.notify({
                  color: 'danger',
                  title: 'login fail',
                  text: 'Password or email invalid!',
                  position: 'top-center'
                })
              }
            })
            .catch(err => {
              this.$vs.loading.close()
              this.$vs.notify({
                color: 'danger',
                title: 'login fail',
                text: 'Password or email invalid!',
                position: 'top-center'
              })
            })
        }
      })
    },
    logOut () {
      localStorage.removeItem('jwt_token')
    },
    setLayout (layout) {
      this.$store.commit('SET_LAYOUT', layout)
    }
  }
}
</script>

<style>
.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
</style>
