<template>
<div>
    <div class="row">
        <h5 class="label">Post</h5><br>
    </div>

        <table-view></table-view>

</div>
</template>

<script>
import TableView from '@/components/admin/post/TableView.vue'
export default {
  components: {
    TableView
  }
}
</script>
