<template>
<div>
    <b-container fluid>
        <!-- User Interface controls -->
        <b-row>
            <b-col md="4" class="my-2">
                <b-form-group horizontal label="Per page" class="mb-0 " slot="append">
                    <b-form-select :options="pageOptions" v-model="perPage" />
                </b-form-group>
            </b-col>
            <b-col md="3" class="my-2 ">
                <b-input-group-append>
                    <b-button variant="success" @click="openPopupAdd()">Add New</b-button>
                </b-input-group-append>
            </b-col>
            <b-col md="5" class="my-2">
                <b-form-group horizontal label="Search" class="mb-0 ">
                    <b-input-group>
                        <b-form-input v-model="filter" placeholder="Type to Search" />
                        <b-input-group-append>
                            <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>
        </b-row>
        <!-- Main table element -->
        <b-table show-empty stacked="md" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-direction="sortDirection">
            <template slot="actions" slot-scope="row">
                <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
                <b-button size="sm" @click.stop="openPopupEdit(row.item)" class="mr-1">
                    Edit
                </b-button>
                <b-button size="sm" @click="openPopupDelete(row.item)" class="mr-1">
                    Delete
                </b-button>
            </template>
            <template slot="row-details" slot-scope="row">
                <b-card>
                    <ul>
                        <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value}}</li>
                    </ul>
                </b-card>
            </template>
        </b-table>
        <b-row>
            <b-col md="6" class="my-1">
                <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </b-col>
        </b-row>
    </b-container>
    <!-- popup add -->
    <div>
        <div class="centerx">
            <vs-popup class="holamundo" title="Add New Categories" :active.sync="isAddPopup">
                <div>
                    <form class="form-signin" @submit.prevent="validateBeforeSubmitAdd()">
                        <label>Name</label>
                        <input class="form-control mb-2" @keyup="setRegxNameCategory()" name="Name" v-model="Name" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Name') }" type="text" placeholder="Name">
                        <span v-show="errors.has('Name')" class="form-text text-danger mb-2">{{ errors.first('Name') }}</span>
                        <label>Description</label>
                        <textarea class="form-control mb-2" rows="10"  name="Description" v-model="Description" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Description') }"  placeholder="Description"></textarea>
                        <span v-show="errors.has('Description')" class="form-text text-danger mb-2">{{ errors.first('Description') }}</span>
                        <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Save</button>
                    </form>
                </div>
            </vs-popup>
        </div>
    </div>
    <!-- popup delete -->
    <div>
        <div class="centerx">
            <vs-popup class="holamundo" title="Delete Categories" :active.sync="isDeletePopup">
                <p>
                    are you sure delete this categories?
                </p>
                <p>{{Name}}</p>
                <vs-button @click="removePopupDelete()" color="primary" vs-type="filled">Ok</vs-button>
                <vs-button @click="cancelPopupDelete()" color="warning" cvs-type="filled">Cancel</vs-button>
            </vs-popup>
        </div>
    </div>
    <!-- popup edit -->
    <div>
        <div class="centerx">
            <vs-popup class="holamundo" title="Edit Categories" :active.sync="isEditPopup">
                <div>
                    <form class="form-signin" @submit.prevent="validateBeforeSubmitEdit()">
                        <label>Name</label>
                        <input class="form-control mb-2" @keyup="setRegxNameCategory()" name="Name" v-model="Name" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Name') }" type="text" placeholder="ex: news-name">
                        <span v-show="errors.has('Name')" class="form-text text-danger mb-2">{{ errors.first('Name') }}</span>
                        <label>Description</label>
                        <textarea class="form-control mb-2" rows="10"  name="Description" v-model="Description" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Description') }"  placeholder="Description"></textarea>
                        <span v-show="errors.has('Description')" class="form-text text-danger mb-2">{{ errors.first('Description') }}</span>
                        <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Save</button>
                    </form>
                </div>
            </vs-popup>
        </div>
    </div>
</div>
</template>

<script>
import service from '@/service/admin/CategoriesService.js'

export default {
  computed: {
    items () {
      return this.$store.state.item_data_add
    },
    totalRows () {
      return this.$store.state.total_row_table
    }
  },
  created () {
    service.getData().then(res => {
      this.$store.commit('totalRowData', res.item)
      this.$store.commit('getData', res.item)
    })
  },
  data () {
    return {
      _id: '',
      Name: '',
      Description: '',
      isAddPopup: false,
      isDeletePopup: false,
      isEditPopup: false,
      show: true,
      foods: [
        {
          text: 'Select One',
          value: null
        },
        'Carrots',
        'Beans',
        'Tomatoes',
        'Corn'
      ],
      fields: [
        {
          key: 'orderIndex',
          label: 'Order Index',
          sortable: true,
          class: 'text-left',
          sortDirection: 'desc'
        },
        {
          key: 'name',
          label: 'name',
          sortable: true,
          class: 'text-left'
        },
        {
          key: 'description',
          label: 'description',
          class: 'text-left',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Actions'
        }
      ],
      currentPage: 1,
      perPage: 5,
      // totalRows: items.length,
      pageOptions: [5, 10, 15],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: {
        title: '',
        content: ''
      }
    }
  },
  methods: {
    nonAccentVietnamese (str) {
      str = str.toLowerCase()
      str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, 'a')
      str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, 'e')
      str = str.replace(/ì|í|ị|ỉ|ĩ/g, 'i')
      str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, 'o')
      str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, 'u')
      str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, 'y')
      str = str.replace(/đ/g, 'd')
      str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, '')
      str = str.replace(/\u02C6|\u0306|\u031B/g, '')
      str = str.replace(/[^a-zA-Z0-9]/g, '-')
      str = str.replace(/(-){2,1000}/g, '-')
      return str
    },
    setRegxNameCategory () {
      this.Name = this.nonAccentVietnamese(this.Name)
    },
    // start add popup
    validateBeforeSubmitAdd () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$vs.loading({
            color: '#7d0c3f'
          })
          var obj = {
            Id: null,
            Name: this.Name,
            Description: this.Description
          }
          service
            .created(obj)
            .then(res => {
              this.$store.commit('totalRowData', res.item)
              this.$store.commit('getData', res.item)
              this.isAddPopup = false
              var message = res.message
              this.$vs.loading.close()
              this.$vs.notify({
                title: 'Add new Item',
                text: message,
                color: 'green',
                position: 'top-center'
              })
            })
            .catch(err => {
              this.$vs.notify({
                title: 'Add new Item',
                text: "can't add item ",
                color: 'green',
                position: 'top-center'
              })
              this.$vs.loading.close()
            })
        } else {
        }
      })
    },
    openPopupAdd () {
      this.isAddPopup = true
      this.Name = ''
      this.Description = ''
    },

    // end add popup

    // start delete popup
    cancelPopupDelete () {
      this.isDeletePopup = false
    },
    openPopupDelete (item) {
      this.isDeletePopup = true
      this.Name = item.name
      this._id = item.id
    },
    removePopupDelete () {
      this.$vs.loading({
        color: '#7d0c3f'
      })
      service
        .deleted(this._id)
        .then(res => {
          this.$store.commit('totalRowData', res.item)
          this.$store.commit('getData', res.item)
          this.isDeletePopup = false
          var message = res.message
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Delete Item',
            text: message,
            color: 'green',
            position: 'top-center'
          })
        })
        .catch(err => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Delete Item',
            text: "can't delete",
            color: 'red',
            position: 'top-center'
          })
        })
    }, // end delete popup

    // start edit popup
    cancelPopupEdit () {
      this.isDeletePopup = false
    },
    openPopupEdit (item) {
      this.isEditPopup = true
      this.Name = item.name
      this._id = item.id
      this.Description = item.description
    },
    validateBeforeSubmitEdit () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$vs.loading({
            color: '#7d0c3f'
          })
          var obj = {
            Id: this._id,
            Name: this.Name,
            Description: this.Description
          }
          service
            .edit(obj)
            .then(res => {
              this.$store.commit('totalRowData', res.item)
              this.$store.commit('getData', res.item)
              var message = res.message
              this.$vs.loading.close()
              if (res.iserror) {
                this.$vs.notify({
                  title: 'Edit Item',
                  text: message,
                  color: 'red',
                  position: 'top-center'
                })
              } else {
                this.isEditPopup = false
                this.$vs.notify({
                  title: 'Edit Item',
                  text: message,
                  color: 'green',
                  position: 'top-center'
                })
              }
            })
            .catch(err => {
              this.$vs.notify({
                title: 'Edit Item',
                text: "can't delete",
                color: 'green',
                position: 'top-center'
              })
            })
        }
      })
    }
  } // end edit popup
}
</script>
